@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
main{
    padding-bottom: 46px;
}
body {
    margin: 0;
    font-family: "Arial";
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin: 0;
}

sup {
    font-size: 12px;
}

h1 {
    margin: 0px;
    font-size: 30px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

hr {
    border: none;
    border-top: 1px solid #e4e4ec;
}

h2 {
    padding-top: 23px;
    margin: 0px;
    font-size: 24px;
    line-height: 1em;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 24px;
}

h3 {
    font-size: 14px;
    line-height: 1.7em;
    color: #1f1f56;
    font-weight: bold;
    margin: 15px 0px 9px;
}

h3:hover {
    text-decoration: underline;
}
table{
    overflow: hidden;
    border-radius: 3px;
    width: 100%;
    border-collapse:collapse
}
header{
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.1);
    padding-top: 55px;
}
thead{
    background-color: #1f1f56;
    font-size: 14px;
    line-height: 1.7em;
    color: #ffffff;
}
tbody{
    font-size: 14px;
    line-height: 1.7em;
    background-color: #e4e4ec;
    color: #666666;
}
th{
    padding: 19px 20px 13px 21px;
}
td{
    padding: 16px 19px 15px 21px;
}
td{
    border-top: 1px solid #cecedd;
}
th:first-child{
    text-align: left;
}
td:nth-child(2),
td:nth-child(3),
td:nth-child(4){
    text-align: left;
}
th:nth-child(2),
th:nth-child(3),
th:nth-child(4),
th:nth-child(5),
td:last-child{
    text-align: left;
}
tbody > tr > td:first-child{
    padding-right: 110px;
}
input,
textarea{
    width: 100%;
    border: 1px solid #c5c5d4;
    padding: 16px 16px 15px 16px;
    outline: none;
    text-align: left;
    box-sizing: border-box;
}
input::placeholder,
textarea::placeholder{
    font-style: italic;
    color: #9999a6;
}
textarea{
    width: 100%;
    resize: vertical;
    height: 106px;
    min-height: 106px;
    max-height: 200px ;
}
button{
    font-size: 14px;
    color: #ffffff;
    border: none;
    padding: 13px 34px;
    border-radius: 21px;
    background-color: #fd8300;
    transition: all 1s ease;
}
button:hover{
    color: #24242b;
    cursor: pointer;
    background-color: #ffffff;
    border: 2px solid #fd8300;
}
.popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    max-width: 321px;
    max-height: 269px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 3px;
    z-index: 5;
}
.popup > div{
    width: 100%;
}
.black{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
    z-index: 4;
}
.popup input{
    margin-bottom: 10px;
    display: block;
    width: 100%;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
}
.popup button,
.popup a{
    text-align: center;
    display: block;
    width: 100%;
    border: none;
    border-radius: 21px;
    padding: 13px 0;
    color: #fff;
    background-color: #fd8300;
}
.popup span{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.table-hover tr:hover{
    color: #ffffff;
    background-color: #fd8300;
}
.topline {
    padding: 15.5px 0;
    color: #b1b1d2;
    background-color: #1f1f56;
    position: fixed;
    width : 100%;
    z-index: 3;
    top: 0;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
    justify-content: space-between;
}

.menu {
    padding: 0;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    color: #b1b1d2;
}

.text-navigation a {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    transition: all .3s ease;
}

.text-navigation li:hover>a {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #fd8300;
}

.proposition {
    background: url(../image/image.webp) no-repeat center/cover;
    background-color: #24242b;
    width: 100%;
    padding: 60px 0px 44px
}

.proposition-info {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.proposition-one {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    font-family: "Roboto Slab";
}

.price {
    font-size: 24px;
    line-height: 1em;
    color: #fd8300;
    font-weight: bold;
    text-align: center;
}

.price b {
    font-size: 40px;
}

.descript-proposition {
    font-size: 14px;
    line-height: 1.7em;
    color: #ffffff;
    text-align: center;
    margin: 10px 0px;
}

.socialki,
.text-navigation,
.socialkidva {
    column-gap: 25px;
}
.socialki{
    align-items: center;
}

.socialki a {
    display: block;
    background: url(../image/niki.png) no-repeat;
}

.socialkidva a {
    display: block;
    background: url(../image/nikidva.png) no-repeat;
}

a.facebook {
    width: 11px;
    height: 19px;
    background-position: -2px -2px;
    transition: all .3s ease;
}

a.facebook:hover {
    width: 11px;
    height: 19px;
    background-position: -0px -24px;
}

a.twiter {
    width: 19px;
    height: 16px;
    background-position: -15px -2px;
    transition: all .3s ease;
}

a.twiter:hover {
    width: 19px;
    height: 16px;
    background-position: -13px -24px;
}

a.instagram {
    width: 20px;
    height: 20px;
    background-position: -36px -2px;
    transition: all .3s ease;
}

a.instagram:hover {
    width: 20px;
    height: 20px;
    background-position: -34px -24px;
}

.phone,
.email,
.skype {
    position: relative;
}

.contacts p:first-child,
.masenger p:first-child {
    margin-bottom: 5px;
}

.phone::before,
.email::before,
.skype::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    background: url(../image/niki.png) no-repeat;
}

.phone::before {
    width: 17px;
    height: 17px;
    background-position: -58px -2px;
}

.email::before {
    width: 18px;
    height: 13px;
    background-position: -78px -2px;
}

.skype::before {
    width: 19px;
    height: 19px;
    background-position: -98px -2px;
}

.contacts-header {
    padding: 36px 0px 34px;
    align-items: center;
}

.contacts a {
    font-size: 18px;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
}

.masenger a {
    font-size: 16px;
    line-height: 1.5em;
    color: #25252c;
}

.border {
    position: relative;
    padding-left: 30px;
}

.border:before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 1px;
    height: 51px;
    background-color: #ccc;
}

.email {
    text-decoration: underline;
}

.btm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btm a {
    font-size: 16px;
    line-height: 1.5em;
    color: #25252c;
    font-weight: bold;
    display: inline-block;
    padding: 12px 28px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #fd8300;
    transition: all 1s ease;
}
.btm a:hover{
    color: #fff;
    background-color: #fd8300;
}
.main {
    padding: 42px 0 46px;
    column-gap: 27px;
}

.main-text p {
    font-size: 14px;
    line-height: 1.7em;
    color: #666666;
    margin: 20px 0px
}
.main-text p:last-child{
    padding-bottom: 13px;
}

.main-text a {
    margin: 5px 0px 33px 0px;
    font-size: 14px;
    line-height: 1.7em;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
}
.detali{
    transition: all 2.5s ease;
}
.detali:hover{
    color: #1f1f56;
    transform: scale(1.1);
}
.house{
    position: relative;
}
.house a{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}
.house a:hover ~ h3{
    text-decoration: underline;
}
.house p {
    font-size: 13px;
    line-height: 1.3em;
    color: #9999a6;
}

.house image {
    width: 100%;
    object-fit: cover;
}

.gapforhouse {
    column-gap: 24px;
}

.aside-menu {
    min-width: 220px;
    position: sticky;
    top: 55px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

.head-menu {
    font-size: 16px;
    line-height: 1.5em;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    background-color: #1f1f56;
    padding: 12px 16px;
}
.aside-menu-a {
    font-size: 14px;
    line-height: 1.7em;
    color: #25252c;
    display: block;
    background-color: #e4e4ec;
    padding: 11px 16px;
    border-top: 1px solid #cdcddd;
    position: relative;
}

.aside-menu-a:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #666666;
    border-left: 1px solid #666666;
    transform: translateY(-50%) rotate(-135deg);
    transition: all 1s ease;
}

.aside-menu-a:hover::after {
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    transform: translateY(-50%) rotate(-45deg);
}

.aside-menu-a:hover {
    font-size: 14px;
    line-height: 1.7em;
    color: #ffffff;
    background-color: #fd8300;
}

.sub-menu {
    visibility: hidden;
    max-height: 0;
}

.sub-menu a {
    display: block;
    padding: 11px 31px;
    font-size: 14px;
    line-height: 1.7em;
    color: #666666;
    background-color: #e4e4ec;
    border: none;
}

.side-bar li:hover .sub-menu {
    visibility: visible;
    max-height: 1000px;
    transition: max-height 3s ease;
}

.sub-menu a:hover {
    background-color: #cecedd;
    color: #666666;
}

.footer-top {
    background-color: #ededf5;
}

.information a {
    font-size: 14px;
    line-height: 1.8em;
    color: #666666;
    transition: all 1s ease;
}

.information ul>li:hover a {
    color: #fd8300;
    text-decoration: underline;
}

.bottom-contacts {
    padding: 42px 0px 29px;
}

.footer-bottom {
    background-color: #dcdce6;
}

.footer-bottom>p {
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    padding: 18px 0px 15px;
}
.main-first p{
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}
.main-first h1{
    padding-bottom: 22px;
}
.main-first{
    padding: 40px 0px 26px;
}
.main-first a{
    display: inline-block;
    padding-top: 24px;
    font-weight: bold;
    text-decoration: underline;
    color: #fd8300;
    transition: all 1s ease;
}
.main-first a:hover{
    color: #24242b;
}
.hr{
    padding-top: 24px;
}
.contacts-second{
    justify-content: flex-start;
    column-gap: 88px;
}
.contacts-second div:nth-child(2){
    width: 188px;
}
.contacts-title{
    padding: 41px 0 27px;
}
.hr-second{
    margin: 35px 0;
}
.contacts-second a{
    color: #25252c;
    font-weight: bold;
}
.contacts-second > div:first-child p:last-child a{
    color: #25252c;
    font-weight: normal;
    text-decoration: underline;
}
.contacts-second p{
    padding-top: 11px;
    font-size: 14px;
    line-height: 1.5em;
    color: #666666;
}
.contacts-second div p:first-child{
    margin-bottom: 5px;
    padding: 0;
    font-size: 14px;
    line-height: 1.5em;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.map iframe{
    width: 100%;
    height: 400px;
    position: absolute;
    top: -75px;
    left: -2px;
}
.map{
    margin-right: 27px;
    width: 100%;
    overflow: hidden;
    max-width: 466px;
    position: relative;
    top: -1px;
}
.zvyazok{
    width: 100%;
    max-width: 467px;
}
.zvyazok > div{
    margin-bottom: 9px;
}
.zvyazok input,
.zvyazok textarea{
    border-radius: 3px;
}
.zvyazok-first{
    column-gap: 9px;
}
.zvyazok-first div{
    width: 100%;
    max-width: 229px;
}
.zvyazok-first div input{
    width: 100%;
    box-sizing: border-box;
}
.zvyazok h2{
    padding: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.7em;
}
.news input{
    display: none;
}
.news{
    column-gap: 10px;
    align-items: center;
    font-size: 13px;
    line-height: 1.7em;
    color: #666666;
}
.news div{
    width: 15px;
    height: 15px;
}
.news input + label{
    position: relative;
}
.news input + label::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    border: 1px solid #c5c5d4;
    border-radius: 3px;
}
.news input:checked + label::before {
    content: "";
    border: 1px solid #c5c5d4;
    border-radius: 3px;
}
.news input:checked + label::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 9px;
    width: 5px;
    height: 8px;
    border-top: 2px solid #1f1f56;
    border-left: 2px solid #1f1f56;
    transform: translateX(-50%) rotate(-135deg);
}
div.submit-form{
    margin-bottom: 0;
    column-gap: 29px;
    justify-content: flex-start;
}