@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html{
    font-size: 0.7px;
}
main{
    padding-bottom: 46rem;
}
body {
    margin: 0;
    font-family: "Arial";
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin: 0;
}

sup {
    font-size: 12rem;
}

h1 {
    margin: 0rem;
    font-size: 29rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 10rem;
}
aside{
    width: 100%;
}
hr {
    border: none;
    border-top: 1rem solid #e4e4ec;
}

h2 {
    padding-top: 23rem;
    margin: 0rem;
    font-size: 24rem;
    line-height: 1em;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 24rem;
}

h3 {
    font-size: 14rem;
    line-height: 1.7em;
    color: #1f1f56;
    font-weight: bold;
    /* margin: 15rem 0rem 9rem; */
    margin: 0rem 0rem 3rem;
}

h3:hover {
    text-decoration: underline;
}
table{
    overflow: hidden;
    border-radius: 3rem;
    width: 100%;
    border-collapse:collapse;

}
header{
    box-shadow: 0 0 7rem 5rem rgba(0,0,0,0.1);
    padding-top: 55rem;
}
thead{
    background-color: #1f1f56;
    font-size: 14rem;
    line-height: 1.7em;
    color: #ffffff;
}
tbody{
    font-size: 14rem;
    line-height: 1.7em;
    background-color: #e4e4ec;
    color: #666666;
}
th{
    padding: 19rem 20rem 13rem 21rem;
}
td{
    padding: 16rem 19rem 15rem 21rem;
}
td{
    border-top: 1rem solid #cecedd;
}
th:first-child{
    text-align: left;
}
td:nth-child(2),
td:nth-child(3),
td:nth-child(4){
    text-align: left;
}
th:nth-child(2),
th:nth-child(3),
th:nth-child(4),
th:nth-child(5),
td:last-child{
    text-align: left;
}
tbody > tr > td:first-child{
    padding-right: 110rem;
}
input,
textarea{
    width: 100%;
    border: 1rem solid #c5c5d4;
    padding: 16rem 16rem 15rem 16rem;
    outline: none;
    text-align: left;
    box-sizing: border-box;
}
input::placeholder,
textarea::placeholder{
    font-style: italic;
    color: #9999a6;
}
textarea{
    width: 100%;
    resize: vertical;
    height: 106px;
    min-height: 106px;
    max-height: 200px ;
}
button{
    font-size: 14rem;
    color: #ffffff;
    border: none;
    padding: 13rem 34rem;
    border-radius: 21rem;
    background-color: #fd8300;
    transition: all 1s ease;
}
button:hover{
    color: #24242b;
    cursor: pointer;
    background-color: #ffffff;
    border: 2rem solid #fd8300;
}
table{
    overflow-x: scroll;
}
.table{
    overflow: hidden;
    min-width: 800px;
    max-width: 960px;
}
.popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    max-width: 321px;
    max-height: 269px;
    padding: 30rem;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 3rem;
    z-index: 5;
}
.popup span{
    z-index: 5;
}
.popup > div{
    width: 100%;
}
.black{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
    z-index: 1;
}
.popup input{
    margin-bottom: 10rem;
    display: block;
    width: 100%;
    outline: none;
    padding: 5rem;
    box-sizing: border-box;
}
.popup button,
.popup a{
    text-align: center;
    display: block;
    width: 100%;
    border: none;
    border-radius: 21rem;
    padding: 13rem 0;
    color: #fff;
    background-color: #fd8300;
}
.popup span{
    position: absolute;
    top: 20rem;
    right: 20rem;
    cursor: pointer;
}
.table-hover tr:hover{
    color: #ffffff;
    background-color: #fd8300;
}
.topline {
    padding: 14.5rem 0;
    color: #b1b1d2;
    background-color: #1f1f56;
    position: fixed;
    width : 100%;
    z-index: 3;
    top: 0;
}
ul.mobile-menu{
    background-color: #1f1f56;
    padding: 40rem 20rem 20rem 20rem;
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100vh;
    transition: all 1s ease;
}
/* .mobile-menu li{
    padding: 10rem;
} */
.cancel-burger{
    font-size: 10px;
    position: absolute;
    right: 20rem;
    top: 20rem;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15rem;
}

.display-flex {
    display: flex;
    justify-content: space-between;
}

.menu {
    padding: 0;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    color: #b1b1d2;
}
.burger{
    position: absolute;
    top: 27rem;
    right: 20rem;
}
.bord{
    position: relative;
    display: inline-block;
    width: 30px;
    padding: 2rem;
    background-color: #5454c4;
    border-radius: 3rem;
}
.bord::before,
.bord::after{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: 30px;
    padding: 2rem;
    background-color: #5454c4;
    border-radius: 3rem;
}
.bord::before{
    top: -8rem;
}
.bord::after{
    bottom: -8rem;
}
.text-navigation a {
    font-size: 25rem;
    letter-spacing: 2rem;
    line-height: 40rem;
    color: #b1b1d2;
    transition: all .3s ease;
}

.text-navigation li:hover>a {
    font-size: 14rem;
    letter-spacing: 2rem;
    line-height: 24rem;
    color: #fd8300;
}

.proposition {
    background: url(../image/image.webp) no-repeat center/cover;
    background-color: #24242b;
    width: 100%;
    padding: 60rem 0rem 44rem
}

.proposition-info {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.proposition-one {
    font-size: 30rem;
    letter-spacing: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    font-family: "Roboto Slab";
}

.price {
    font-size: 24rem;
    line-height: 1em;
    color: #fd8300;
    font-weight: bold;
    text-align: center;
}

.price b {
    font-size: 40rem;
}

.descript-proposition {
    font-size: 14rem;
    line-height: 1.7em;
    color: #ffffff;
    text-align: center;
    margin: 10rem 0rem;
}

.socialki,
.text-navigation,
.socialkidva {
    column-gap: 25rem;
}
.socialki{
    align-items: center;
}

.socialki a {
    display: block;
    background: url(../image/niki.png) no-repeat;
}

.socialkidva a {
    display: block;
    background: url(../image/nikidva.png) no-repeat;
}

a.facebook {
    width: 11px;    
    height: 19px;
    background-position: -2px -2px;
    transition: all .3s ease;
}

a.facebook:hover {
    width: 11px;
    height: 19px;
    background-position: -0px -24px;
}

a.twiter {
    width: 19px;
    height: 16px;
    background-position: -15px -2px;
    transition: all .3s ease;
}

a.twiter:hover {
    width: 19px;
    height: 16px;
    background-position: -13px -24px;
}

a.instagram {
    width: 20px;
    height: 20px;
    background-position: -36px -2px;
    transition: all .3s ease;
}

a.instagram:hover {
    width: 20px;
    height: 20px;
    background-position: -34px -24px;
}

.phone,
.email,
.skype {
    position: relative;
}

.contacts p:first-child,
.masenger p:first-child {
    margin-bottom: 5rem;
}

.phone::before,
.email::before,
.skype::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30rem;
    /* left: -20rem; */
    background: url(../image/niki.png) no-repeat;
}

.phone::before {
    width: 17px;
    height: 17px;
    background-position: -58px -2px;
}

.email::before {
    width: 18px;
    height: 13px;
    background-position: -78px -2px;
}

.skype::before {
    width: 19px;
    height: 19px;
    background-position: -98px -2px;
}

.contacts-header {
    max-width:1000rem;
    padding: 36rem 15rem 34rem;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20rem;
    justify-content: center;
    max-width: 200rem;
}

.contacts a {
    font-size: 18rem;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
}

.masenger a {
    font-size: 16rem;
    line-height: 1.5em;
    color: #25252c;
}

.border {
    position: relative;
    padding-left: 30rem;
}


.email {
    text-decoration: underline;
}

.btm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btm a {
    font-size: 16rem;
    line-height: 1.5em;
    color: #25252c;
    font-weight: bold;
    display: inline-block;
    padding: 12rem 26rem;
    border-radius: 25rem;
    background-color: #ffffff;
    border: 2rem solid #fd8300;
    transition: all 1s ease;
}
.btm a:hover{
    color: #fff;
    background-color: #fd8300;
}
.main {
    padding: 42rem 15rem 46rem;
    column-gap: 27rem;
    flex-wrap: wrap-reverse;
}

.main-text p {
    width: 100%;
    flex-wrap: nowrap;
    font-size: 14rem;
    line-height: 1.7em;
    color: #666666;
    margin: 0rem 0rem 20rem
}
.main-text p:last-child{
    padding-bottom: 13rem;
}

.main-text a {
    margin: 5rem 0rem 33rem 0rem;
    font-size: 14rem;
    line-height: 1.7em;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
}
.detali{
    transition: all 2.5s ease;
}
.detali:hover{
    color: #1f1f56;
    transform: scale(1.1);
}
.house{
    position: relative;
    background-color: #e4e4ec;
    border-radius: 5rem;
    padding: 10rem;
}
.house a{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}
.house a:hover ~ h3{
    text-decoration: underline;
}
.house p {
    font-size: 13rem;
    line-height: 1.3em;
    color: #9999a6;
}

.house image {
    width: 100%;
    object-fit: cover;
}
.projects{
        text-align: center;
}
.gapforhouse {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 24rem;
    row-gap: 24rem;
    margin-bottom: 20rem;
}

.aside-menu {
    margin-bottom: 25rem;
    position: sticky;
    top: 55rem;
    width: 100%;
    border-radius: 3rem;
    overflow: hidden;
}

.head-menu {
    font-size: 16rem;
    line-height: 1.5em;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    background-color: #1f1f56;
    padding: 12rem 16rem;
}
.aside-menu-a {
    font-size: 14rem;
    line-height: 1.7em;
    color: #25252c;
    display: block;
    background-color: #e4e4ec;
    padding: 11rem 16rem;
    border-top: 1rem solid #cdcddd;
    position: relative;
}

.aside-menu-a:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 8px;
    height: 8px;
    border-bottom: 1rem solid #666666;
    border-left: 1rem solid #666666;
    transform: translateY(-50%) rotate(-135deg);
    transition: all 1s ease;
}

.aside-menu-a:hover::after {
    border-bottom: 2rem solid #ffffff;
    border-left: 2rem solid #ffffff;
    transform: translateY(-50%) rotate(-45deg);
}

.aside-menu-a:hover {
    font-size: 14rem;
    line-height: 1.7em;
    color: #ffffff;
    background-color: #fd8300;
}

.sub-menu {
    visibility: hidden;
    max-height: 0;
}

.sub-menu a {
    display: block;
    padding: 11rem 31rem;
    font-size: 14rem;
    line-height: 1.7em;
    color: #666666;
    background-color: #e4e4ec;
    border: none;
}
.side-bar li:hover .sub-menu {
    visibility: visible;
    max-height: 1000rem;
    transition: max-height 3s ease;
}

.sub-menu a:hover {
    background-color: #cecedd;
    color: #666666;
}

.footer-top {
    background-color: #ededf5;
}

.information a {
    font-size: 14rem;
    line-height: 1.8em;
    color: #666666;
    transition: all 1s ease;
}

.information ul>li:hover a {
    color: #fd8300;
    text-decoration: underline;
}

.bottom-contacts {
    flex-direction: column;
    gap: 20rem;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 42rem 20rem 29rem;
}

.footer-bottom {
    background-color: #dcdce6;
}

.footer-bottom>p {
    text-align: center;
    font-size: 13rem;
    line-height: 18rem;
    color: #9999a6;
    padding: 18rem 0rem 15rem;
}
.main-first p{
    text-align: center;
    font-size: 14rem;
    line-height: 24rem;
    color: #666666;
}
.main-first h1{
    text-align: center;
    padding-bottom: 22rem;
}
.main-first{
    text-align: center;
    padding: 40rem 0rem 26rem;
}
.main-first a{
    font-size: 14rem;
    display: inline-block;
    padding-top: 24rem;
    font-weight: bold;
    text-decoration: underline;
    color: #fd8300;
    transition: all 1s ease;
}
.main-first a:hover{
    color: #24242b;
}
.hr{
    padding-top: 24rem;
}
.contacts-second{
    font-size: 20px;
    text-align: center;
    column-gap: 88rem;
    flex-direction: column;
}
.contacts-second {
    gap: 40rem;
    margin-bottom: 10rem;
}
.contacts-title{
    padding: 41rem 0 27rem;
    text-align: center;
}
.hr-second{
    margin: 35rem 0;
}
.map-zvyzok{
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.contacts-second a{
    color: #25252c;
    font-weight: bold;
}
.contacts-second > div:first-child p:last-child a{
    color: #25252c;
    font-weight: normal;
    text-decoration: underline;
}
.contacts-second p{
    padding-top: 11rem;
    font-size: 20rem;
    line-height: 1.5em;
    color: #666666;
}
.contacts-second div p:first-child{
    margin-bottom: 5rem;
    padding: 0;
    font-size: 26rem;
    line-height: 1.5em;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.map iframe{
    width: 100%;
    height: 400px;
    position: absolute;
    top: -75px;
    left: -2px;
}
.map{
    margin-bottom: 30rem;
    width: 100%;
    overflow: hidden;
    max-width: 466px;
    position: relative;
    top: -1px;
    min-height: 300px;
}
.zvyazok{
    margin-bottom: 30rem;
    width: 100%;
    max-width: 467px;
}
.zvyazok > div{
    margin-bottom: 9rem;
}
.zvyazok input,
.zvyazok textarea{
    border-radius: 3rem;
}
.zvyazok-first{
    column-gap: 9rem;
}
.zvyazok-first div{
    width: 100%;
    max-width: 229px;
}
.zvyazok-first div input{
    width: 100%;
    box-sizing: border-box;
}
.zvyazok h2{
    padding: 0;
    margin-bottom: 20rem;
    font-size: 14rem;
    line-height: 1.7em;
}
.news input{
    display: none;
}
.news{
    column-gap: 10rem;
    align-items: center;
    font-size: 13rem;
    line-height: 1.7em;
    color: #666666;
}
.news div{
    width: 15px;
    height: 15px;
}
.news input + label{
    position: relative;
}
.news input + label::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    border: 1rem solid #c5c5d4;
    border-radius: 3rem;
}
.news input:checked + label::before {
    content: "";
    border: 1rem solid #c5c5d4;
    border-radius: 3rem;
}
.news input:checked + label::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 9px;
    width: 5px;
    height: 8px;
    border-top: 2rem solid #1f1f56;
    border-left: 2rem solid #1f1f56;
    transform: translateX(-50%) rotate(-135deg);
}
div.submit-form{
    margin-bottom: 0;
    column-gap: 29rem;
    justify-content: flex-start;
}
@media screen and (min-width: 416px){
    .contacts-header{
        max-width: none;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}
@media screen and (min-width: 768px) {
    header{
        width: 100%;
        flex-wrap: nowrap;
    }
    html{
        font-size: 1px;
    }
    footer{
        width: 100%;
    }
    .topline{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .aside-menu{
        min-width: 220px;
        /* max-width: 300px; */
    }
    .contacts-header{
        max-width: 700px;
        flex-wrap: wrap;
        column-gap: 50rem;
        width: 100%;
    }
    .text-navigation a{
        font-size: 14rem;
        line-height: 24rem;
    }
    .house{
        background: transparent;
        border-radius: 0;
        padding: 0;
    }
    .projects{
        text-align: left;
    }
    .gapforhouse{
        flex-direction:row;
        /* flex-wrap: nowrap; */
    }
    .burger{
        display: none;
    }
    .text-navigation{
        display: flex;
    }
    ul.mobile-menu{
        align-items: center;
        padding: 20rem;
        display: flex;
        position:static;
        height: 0;
        justify-content:left;
    }
    .black{
        z-index: 4;
    }
    .map-zvyzok{
        /* justify-content: center; */
        wrap: nowrap;
        margin-bottom: 44rem;
    }
    .main-first h1{
        text-align: left;
    }
    .main-first p{
        text-align: left;
    }
    .main-first a{
        font-size: 14rem;
        line-height: 1.7em;
    }
    .table{
        max-width:none;
        overflow: auto;
    }
    .cancel-burger{
        display: none;
    }
    .contacts-second p,
    .contacts-second div p:first-child{
        font-size: 14rem;
    }
    
}  
@media screen and (min-width: 1024px){
    html{
        font-size: 1.0px;
    }
    
    .border:before {
        content: "";
        position: absolute;
        top: 0;
        left: -30px;
        width: 1px;
        height: 51px;
        background-color: #ccc;
    }
    .contacts-title{
        max-width: 960px;
        text-align: start;
        justify-content: flex-start;
    }
    .main{
        flex-wrap: nowrap;
    }
    .contacts-header{
        max-width: 960px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .mobile-menu li{
        padding: 10rem;
    }
    .bottom-contacts{
        justify-content:space-between;
        flex-direction:row;
        text-align:start;
    }
    .contacts-second{
        text-align: left;
        flex-direction: row;
    }
    .contacts-second div:nth-child(2){
        width: 188px;
    }
    .gapforhouse{
        flex-wrap: nowrap;
    }
    .map{
        margin-right: 27rem;
    }
}
@media screen and (min-width: 1921px) {
    html{
        font-size: 1.2px;
    }
    .wrapper{
        max-width: 1440px;
    }
}
@media screen and (min-width: 2560px) {
    html{
        font-size: 1.5px;
    }
    }